**.zip
**/node_modules/*
**/.env.*
**/*.env
**/.idea
**/.vscode
**/dist
**/*.log
**/generated

backend/src/core/database/*
backend/appsettings.json
backend/appsettings.Development.json
backend/bin/*
backend/obj/*

tools/client-generators/orval/src/client/**/*
