@layer components {
    .list-group {
        --border-color: rgba(0, 0, 0, 10%);
        --border-width: 1px;
        list-style: none;
        border: var(--border-width) solid var(--border-color);
        border-radius: var(--radius-lg);

        @variant dark {
            & {
                --border-color: rgba(255, 255, 255, 10%);
            }
        }
    }

    .list-group-item {
        border-bottom: 1px solid var(--border-color);

        &:last-child {
            border-bottom: none;
        }
    }
}

@utility list-group-flush {
    --border-width: 0;
}