@import "tailwindcss" important;
@import "./alert.css";
@import "./button.css";
@import "./collapsible.css";
@import "./form.css";
@import "./image.css";
@import "./input.css";
@import "./layout.css";
@import "./list.css";
@import "./modal.css";
@import "./panel.css";
@import "./table.css";
@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Roboto";
  src: url("@/assets/fonts/Roboto-VariableFont_wdth,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Quicksand";
  src: url("@/assets/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  size-adjust: 92%;
}

@theme {
    --html-background: --alpha(var(--color-black) / 5%);
    --color-primary: var(--color-black);
    --color-primary-foreground: var(--color-white);
    --color-secondary: var(--color-white);
    --color-danger: var(--color-red-600);
    --color-success: var(--color-emerald-500);
    --color-hinting: var(--color-blue-600);
}

html {
    --border-color: rgba(0, 0, 0, 0.15);
    background: var(--html-background);
    font-family: "Roboto", "Quicksand", "IBM Plex Sans", "Libre Franklin", Helvetica, Arial, sans-serif;
    font-size: 14px;
    scroll-behavior: auto !important;
    overscroll-behavior: none;

    &.dark {
        --html-background: black;
        --color-primary: var(--color-white);
        --color-primary-foreground: var(--color-black);
        --color-secondary: var(--color-black);
        color: white;
        color-scheme: dark;
    }
    
    @media (prefers-reduced-motion: no-preference) {
        html {
            scroll-behavior: smooth;
        }
    }
}

body {
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    overflow-y: auto;
    scroll-behavior: auto !important;
}

main {
    scroll-behavior: auto !important;
}

a:not(.hover\:underline):not(.hover\:overline):not(.hover\:line-through):not(.hover\:no-underline):hover {
    text-decoration: underline;
}
