@import "./base.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*:not(input) {
    margin: 0 !important;
}

html {
    scrollbar-gutter: stable;
    scrollbar-width: 20px;
}

body {
    background-color: var(--bs-light) !important;
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
}

:root {
    --border-color: rgb(210, 225, 245);
    --border-color-translucent: rgba(210, 255, 245, 0.3);
    --bg-color: rgb(241, 247, 250);
    --bg-color-lighter: rgb(248, 255, 255);
    --bs-purple-rgb: 111, 66, 193;
    --bs-orange-rgb: 227, 98, 9;

    /* Override Bootstrap default colors */
    --bs-focus-ring-opacity: 1 !important;
    --bs-focus-ring-color: var(--bs-primary) !important;
}

.text-default {
    color: var(--font-color) !important;
}

.text-default-translucent {
    color: var(--font-color-translucent) !important;
}

.text-default-translucent {
    color: var(--font-color-translucent) !important;
}

.border-default {
    border-color: var(--border-color) !important;
}

.border-default-translucent {
    border-color: var(--border-color-translucent) !important;
}

.text-purple {
    color: rgb(var(--bs-purple-rgb)) !important;
}

.text-orange {
    color: rgb(var(--bs-orange-rgb)) !important;
}

.bg-purple {
    background-color: rgba(var(--bs-purple-rgb), var(--bs-bg-opacity)) !important;
}

.bg-purple-subtle {
    background-color: rgba(var(--bs-purple-rgb), 0.25) !important;
}

.bg-orange {
    background-color: rgba(var(--bs-orange-rgb), var(--bs-bg-opacity)) !important;
}

.bg-orange-subtle {
    background-color: rgba(var(--bs-orange-rgb), 0.25) !important;
}

.border-purple {
    --bs-border-opacity: 1;
    border-color: rgba(var(--bs-purple-rgb), var(--bs-border-opacity)) !important;
}

.border-purple-subtle {
    border-color: rgba(var(--bs-purple-rgb), 0.25) !important;
}

#root {
    font-family: "Roboto", "IBM Plex Sans", "Libre Franklin", Helvetica, Arial, sans-serif;
    font-weight: normal;
    height: auto;
    min-height: 100vh;
    width: 100vw;
}

input:not([type="checkbox"]):not(.is-invalid):not(.is-valid),
textarea:not(.is-invalid):not(.is-valid),
select:not(.is-invalid):not(.is-valid) {
    color: inherit !important;
}

input:not([type="checkbox"]):not(.is-invalid):not(.is-valid),
textarea:not(.is-invalid):not(.is-valid),
select:not(.is-invalid):not(.is-valid) {
    color: inherit !important;
    background-color: rgba(var(--bs-primary-rgb), 0.01);
}

input:not([type="checkbox"]):not(.is-invalid):not(.is-valid):focus,
textarea:not(.is-invalid):not(.is-valid):focus,
select:not(.is-invalid):not(.is-valid):focus {
    border-color: var(--bs-primary) !important;
}

input:not([type="checkbox"]):is(.is-invalid),
textarea:is(.is-invalid),
select:is(.is-invalid) {
    color: var(--bs-danger-text-emphasis) !important;  
}

input:not([type="checkbox"]):is(.is-valid),
textarea:is(.is-valid),
select:is(.is-valid) {
    color: var(--bs-success-text-emphasis) !important;  
}

input[type="checkbox"], select {
    cursor: pointer;
}

input:not([type="checkbox"])::placeholder,
textarea::placeholder,
select::placeholder {
    color: rgba(0, 0, 0, 0.2) !important;
}

input:not([type="checkbox"]):is(.is-invalid)::placeholder,
textarea:is(.is-invalid)::placeholder,
select:is(.is-invalid)::placeholder {
    color: rgba(var(--bs-danger-rgb), 0.2) !important;
}

input:not([type="checkbox"]):is(.is-valid)::placeholder,
textarea:is(.is-valid)::placeholder,
select:is(.is-valid)::placeholder {
    color: rgba(var(--bs-success-rgb), 0.2) !important;
}

.input-group span.input-group-text {
    color: var(--bs-primary-text-emphasis);
    background-color: rgba(var(--bs-primary-rgb), 0.05);
    border-color: rgba(var(--bs-primary-rgb), 0.25) !important;
}

.input-group:has(.is-valid) span.input-group-text {
    color: var(--bs-success-text-emphasis);
    background-color: rgba(var(--bs-success-rgb), 0.1);
    border-color: rgba(var(--bs-success-rgb), 0.3) !important;
}

.input-group:has(.is-invalid) span.input-group-text {
    color: var(--bs-danger-text-emphasis);
    background-color: rgba(var(--bs-danger-rgb), 0.1);
    border-color: rgba(var(--bs-danger-rgb), 0.3) !important;
}

.input-group:has(.is-valid) span.input-group-text {
    color: var(--bs-success-text-emphasis);
    background-color: rgba(var(--bs-success-rgb), 0.1);
    border-color: rgba(var(--bs-success-rgb), 0.3) !important;
}


label.form-label.required:after {
    content: "*";
    color: rgb(255, 0, 0);
    line-height: 1em;
    vertical-align: middle;
    margin-left: 0.375rem;
}

.form-group:has(.is-invalid) label.form-label {
    color: var(--bs-danger-text-emphasis) !important;
}

.form-group:has(.is-valid) label.form-label {
    color: var(--bs-success-text-emphasis)!important;
}


input.form-control {
    background-color: white !important;
}

input.is-valid,
textarea.is-valid,
select.is-valid {
    background-color: rgb(233, 247, 241) !important;
    border-color: var(--bs-form-valid-border-color) !important;
}

input.is-invalid,
textarea.is-invalid,
select.is-invalid {
    background-color: rgb(247, 235, 236) !important;
    border-color: var(--bs-form-invalid-border-color) !important;
}

input.placeholder,
textarea.placeholder,
select.placeholder {
    background-color: white;
    color: transparent !important;
}

input.placeholder::placeholder,
textarea.placeholder::placeholder,
select.placeholder::placeholder {
    color: transparent !important;
}

span.valid-feedback:after {
    content: "Hợp lệ";
}

a {
    text-decoration: none !important;
}

a:hover:not(.btn), a:active:not(.btn) {
    text-decoration: underline !important;
}

.btn-outline-primary:not(:hover),
.btn-outline-success:not(:hover),
.btn-outline-warning:not(:hover),
.btn-outline-danger:not(:hover),
.btn-outline-secondary:not(:hover) {
    background: white !important;
    overflow: hidden;
}

.row[class*="g-"] > [class^="col"],
.row[class*="gy-"] > [class^="col"] {
    padding-top: calc(var(--bs-gutter-y) / 2);
    padding-bottom: calc(var(--bs-gutter-y) / 2);
}

.border-purple {
    --bs-border-color: rgb(var(--bs-purple-rgb)) !important;
}

.border-purple-subtle {
    --bs-border-color: rgb(192, 183, 207) !important;
}

.border-orange {
    --bs-border-color: rgb(var(--bs-orange-rgb)) !important;
}

.transition-opacity {
    transition-property: opacity;
}

.transition-250 {
    transition-duration: 0.25s;
}

.transition-300 {
    transition-duration: .3s;
}

.transition-reloading {
    transition-duration: 0.25s;
    transition-duration: .3s;
}

.apexcharts-legend-series {
    margin-right: 20px !important;
}

.apexcharts-legend-text {
    padding-left: 5px !important;
}

@media (max-width: 1420px) {
    html {
        scrollbar-gutter: auto;
    }
}
